@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,800&family=Quicksand:wght@300;400;600;700&family=Roboto:wght@100;300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
font-family: 'Quicksand', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-weight: bold;
background:linear-gradient(to right ,#00AAFF,#00FF6C);
}
button{
    background-color:rgba(255,255,255,.75) ;
    border: 2px solid white;
    padding:.7rem .8rem;
    font-size: large;
    cursor: pointer;
}
button:hover{
    background-color:rgba(255,255,255,.9) ;
}